.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* header section */

/* nav section */
.nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.nav-logo img {
  width: 100%;
}

.nav-addreess ul {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
}
.nav .nav-addreess ul li {
  list-style: none;
}
.nav .nav-addreess ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  /* line-height: 24px; */
  color: rgb(137, 135, 161);
}
#home {
  font-weight: 700;
  font-size: 1rem;
  /* line-height: 24px; */
  color: rgb(37, 36, 50);
}
#cart {
  color: rgb(0, 0, 0);
}

/* banner section */
.banner {
  display: flex;
  justify-content: space-between;
}
.banner-left {
  margin-top: 100px;
}

.banner-left-title {
  font-weight: 700;
  font-size: 4.1rem;
  text-align: left;
  color: rgb(0, 0, 0);
  margin-bottom: 13px;
}
#fresh {
  color: rgb(233, 90, 8);
}

.banner-left-des {
  font-weight: 400;
  font-size: 1.375rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}

.banner-right img {
  width: 100%;
  margin-top: 50px;
}

/* main section */

.plant-left-title {
  font-weight: 700;
  font-size: 3.125rem;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 16px;
}
#our {
  color: rgb(233, 90, 8);
}
#plant {
  color: rgb(0, 0, 0);
}

.plant-left-des {
  font-weight: 400;
  font-size: 1.375rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

/* media query */
@media screen and (max-width: 576px) {
  /* header section */

  /* nav section */
  .nav-addreess ul {
    gap: 0;
  }
  .nav-logo img {
    width: 50%;
  }
  ul .nav-mobile {
    /* position: absolute; */
    display: none;
  }
  .nav {
    max-width: 361px;
    /* max-height: 38px; */
    margin: 28 auto;
  }
  #cart {
    display: inline;
  }

  /* banner */
  .banner {
    flex-direction: column-reverse;
    margin: 28px 0;
  }
  .banner-left {
    margin-top: 28px;
    padding: 16px;
  }

  /* main section */

  /* plant section */
  .plant-left-title {
    margin-top: 65px;
  }
}
