.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* header section */

/* nav section */
.nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.nav-logo img {
  width: 100%;
}

.nav-addreess ul {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
}
.nav .nav-addreess ul li {
  list-style: none;
}
.nav .nav-addreess ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  /* line-height: 24px; */
  color: rgb(137, 135, 161);
}
#home {
  font-weight: 700;
  font-size: 1rem;
  /* line-height: 24px; */
  color: rgb(37, 36, 50);
}
#cart {
  color: rgb(0, 0, 0);
}

/* banner section */
.banner {
  display: flex;
  justify-content: space-between;
}
.banner-left {
  margin-top: 100px;
}

.banner-left-title {
  font-weight: 700;
  font-size: 4.1rem;
  text-align: left;
  color: rgb(0, 0, 0);
  margin-bottom: 13px;
}
#fresh {
  color: rgb(233, 90, 8);
}

.banner-left-des {
  font-weight: 400;
  font-size: 1.375rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}

.banner-right img {
  width: 100%;
  margin-top: 50px;
}

/* main section */

/* plant section */
.plant-left {
  margin-bottom: 40px;
}

.plant-left-title {
  font-weight: 700;
  font-size: 3.125rem;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 16px;
}
#our {
  color: rgb(233, 90, 8);
}
#plant {
  color: rgb(0, 0, 0);
}

.plant-left-des {
  font-weight: 400;
  font-size: 1.375rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

/* card section */

.card-owner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  max-width: 270px;
  border: 1px solid white;
}
.card img {
  width: 100%;
}
.card-title {
  font-weight: 500;
  font-size: 1.375rem;
  text-align: center;
  color: rgb(17, 17, 17);
  margin-top: 20px;
  margin-bottom: 15px;
}
.card-des {
  font-weight: 700;
  font-size: 1.375rem;
  text-align: center;
  color: rgb(17, 17, 17);
  margin-bottom: 20px;
}
.btn {
  width: 270px;
  height: 50px;
  background-color: rgb(233, 90, 8);
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 19px 80px; */
}

/* Plant Lover Section */
.plant-lover {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.plant-lover-title {
  font-weight: 700;
  font-size: 3.125rem;
  color: rgb(0, 0, 0);
}
.plant-lover-des li {
  font-weight: 400;
  font-size: 1.23rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
.plant-lover-right {
  padding-top: 50px;
}
.plant-lover-content {
  position: relative;
}
.trusted {
  position: absolute;
  top: -120px;
  left: 345px;
}
/* Deal Section */
.deal {
  margin-top: 130px;
  margin-bottom: 120px;
}
.deal-title {
  font-weight: 700;
  font-size: 3.125rem;
  text-align: center;
  color: rgb(0, 0, 0);
}
#latest {
  color: rgb(233, 90, 8);
}
.deal-des {
  font-weight: 400;
  font-size: 1.375rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 120px;
}
/* deal img */

.left-des {
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
}
.left-title {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.right-title {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  color: rgb(255, 255, 255);
}
.right-des {
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
  color: rgb(255, 255, 255);
}
.left1 {
  background-image: url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 14px;
  flex: 1;
}
.left2 {
  background-image: url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 14px;
  flex: 1;
}
.deal-img-right {
  background-image: url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  border-radius: 22px;
  background-size: cover;
}
.deal-img {
  display: flex;

  gap: 25px;
  width: 100%;
  height: 423px;
}
.deal-img-left {
  /* display: flex;
  flex-direction: column;
  flex: 1; */
  display: flex;
  width: 25%;
  flex-direction: column;
  gap: 25px;
}
.deal-img-right {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Join Section */
.join-title {
  font-weight: 700;
  font-size: 3.125rem;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 23px;
  /* margin-top: 119px; */
}
.join-btn {
  background-color: rgb(233, 90, 8);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  padding: 15px 43px;
  border: none;
  color: rgb(255, 255, 255);
}
.join {
  background-image: url(../assets/news-letter-bg.png);
  height: 533px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-size: cover;
  margin-bottom: 200px;
}

.join-b {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.join-input {
  font-weight: 400;
  font-size: 1rem;
  /* text-align: center; */
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* media query */
@media screen and (max-width: 576px) {
  /* header section */

  /* nav section */
  .nav-addreess ul {
    gap: 0;
  }
  .nav-logo img {
    width: 50%;
  }
  ul .nav-mobile {
    /* position: absolute; */
    display: none;
  }
  .nav {
    max-width: 361px;
    /* max-height: 38px; */
    margin: 28 auto;
  }
  #cart {
    display: inline;
  }

  /* banner */
  .banner {
    flex-direction: column-reverse;
    margin: 28px 0;
  }
  .banner-left {
    margin-top: 28px;
    padding: 16px;
  }
  .banner-left-title {
    font-size: 1.5rem;
  }
  .banner-left-des {
    font-size: 0.875rem;
  }

  /* main section */

  /* plant section */
  .plant-left-title {
    margin-top: 65px;
    font-size: 1.5rem;
  }
  .plant-left-des {
    font-size: 0.875rem;
    margin-bottom: 28px;
  }

  .card-owner {
    max-width: calc(362px + 40px);
    grid-template-columns: repeat(2, 1fr);
  }
  .btn {
    width: 189px;
    height: 50px;
  }
  /* Plant lover section */

  .trusted {
    display: none;
  }
  .plant-lover {
    flex-direction: column;
    margin-top: 40px;
    gap: 18px;
  }
  .plant-lover img {
    width: 100%;
  }
  .plant-lover-content {
    padding: 0 16px 16px 16px;
  }
  .plant-lover-right {
    padding-top: 0;
  }
  .plant-lover-title {
    font-size: 1.5rem;
  }
  .plant-lover-des li {
    font-size: 0.875rem;
  }
  .plant-lover-des {
    padding: 16px;
  }

  /* Deal Section */
  .deal {
    margin-top: 70px;
    margin-bottom: 40px;
  }

  .deal-img {
    flex-direction: column;
    height: 581px;
    max-width: 361px;
    margin: auto;
    gap: 20px;
  }

  .deal-img-left,
  .deal-img-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .deal-img-left {
    height: 67%;
  }

  .left1,
  .left2,
  .deal-img-right {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 14px;
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .left-title,
  .right-title {
    font-size: 1.25rem;
  }

  .left-des,
  .right-des {
    font-size: 1rem;
  }
  .deal-des {
    margin-bottom: 51px;
    font-size: 0.875rem;
  }
  .deal-title {
    font-size: 1.5rem;
  }

  /* Join Section */

  .join {
    height: 276px;
  }
  .join-title {
    font-size: 20px;
  }
  .join-btn {
    padding: 19px 12px;
  }
  .join-b {
    grid-template-columns: 0.5fr 0.5fr;
  }
}
